<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <!-- 申请必要的基本权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="SbsOverlay"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <!-- 1. 主入口 Activity 配置 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. 后台服务 Service 配置 -->
        <service
            android:name=".SbsService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
